1 ICON "fxemu.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "FileDescription", "fx-9860GII Emulator"
      VALUE "ProductName", "fx-9860GII Emulator"
      VALUE "FileVersion", "1.0.0"
      VALUE "ProductVersion", "1.0.0"
      VALUE "OriginalFilename", "fx9860-emulator.exe"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END
